.AllGraphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.biggraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

}

.biggraph .Trends {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.biggraph .container {
   
    height: 400px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/* Small Graphs */
.SmallGraphsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 250px;
    justify-content: space-evenly;
    row-gap: 20px;
    
}
.SmallGraphsContainer h3{
   text-align: center;
}

.SmallGraphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.SmallGraphs .Name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    
}

.SmallGraphs .container {
    background-color: #2a2d3e;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
}
